<!DOCTYPE html>
<head>
    <title>Página Inicial</title>
</head>
<body>
    <h1>COVID API BY COUNTRY</h1>
    <form action="{{ url_for('submit_data')}}" method="post">
        <input type="input text" name="country"></div>
        <br/>
        <input type="submit" value="enter"></div>
    </form>
    {% if country %}
    <table>
        <tr>
            <td>ID</td>
            <td>Confirmed</td>
            <td>Deaths</td>
            <td>Recovered</td>
            <td>Active</td>
            <td>Date</td>
        </tr>
        {% for data in country %}
        <tr>
          <td>{{data.ID}}</td>
          <td>{{data.confirmed}}</td>
          <td>{{data.deaths}}</td>
          <td>{{data.recovered}}</td>
          <td>{{data.active}}</td>
          <td>{{data.date}}</td>
        </tr>
      {% endfor %}
    </table>
    {% endif %}
</body>